# Игнорирование виртуального окружения Python
.venv/
venv/

# Игнорирование файлов IDE
.idea/

# Игнорирование скомпилированных файлов Python
*.pyc
__pycache__/


semantic_search/data/*
legal_acts
legal_acts.zip

.DS_Store
